@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,700;1,400&display=swap');

a  {
    text-decoration: none;
}

.menu {
   width: auto;
}

.Barra-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1rem;
    border-bottom: 2px solid #29166f;
    margin: 0.5rem;
}

.Navegacao-menu {
    display: flex;
    gap: 20px;

}

.Navegacao-menu a {
    width: 95px;
    padding: 10px;
    border: #29166f solid 2px;
    border-radius: 25px;
    text-align: center;
    font-family: 'Karla', sans-serif;
    font-size: 1rem;
    color: #29166f;
    transition: 0.5s;
}

.Navegacao-menu a:hover {
    background-color: #29166f;
    color: #00923f;
    border: #00923f 2px solid;
}